NODE_ENV=development
PORT=
API_PREFIX=/api
API_VERSION=1

# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SSL=false

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
TEMP_JWT_SECRET=
TEMP_JWT_EXPIRES_IN=
TEMP_JWT_ISS=2connect-auth
TEMP_JWT_AUD=password-reset

# Rate Limiting
THROTTLE_TTL=
THROTTLE_LIMIT=

# Bcrypt
BCRYPT_SALT_ROUNDS=

#aws
AWS_REGION=
AWS_S3_BUCKET=

#google
GOOGLE_CLIENT_ID=
GOOGLE_APPLICATION_CREDENTIALS=

MESSAGE_TEMPLATES_LIMIT=

SQL_LOG=

THROTTLE_TTL=
THROTTLE_LIMIT=

AI_SERVICE_URL=
AI_SERVICE_WEBHOOK_API_KEY=


ADMIN_PASSWORD=
AI_SERVICE_API_KEY=

SES_FROM_EMAIL=
APP_NAME=

GMAIL_USER=
GMAIL_APP_PASSWORD=
GMAIL_FROM=

PERSONAS_PER_WEEK=5
REDIS_HOST=localhost
REDIS_PORT=6379
FRONT_END_BASE_URL=

# Stream Chat (for messaging)
STREAM_API_KEY=
STREAM_API_SECRET=